<div>
  <p>
    Russell Power is a researcher and founder of Wasabi Labs. He has <a
      href="https://scholar.google.com/citations?user=XhmALUoAAAAJ&hl=en&oi=ao"
      >widely published in machine learning and distributed systems</a
    > and in the past led multiple ML and system projects at Google.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
